.conteiner-home{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.container-home-search{
    margin: 45px;
    display: flex;
    justify-content: space-evenly;
}

.conteiner-home-body{
    display: flex;
}

.p-home{
    margin: auto;
}