.card{
    height: 400px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 12px;
}

.card-img-top{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


.btn-primary{
    text-decoration: none;
    background-color: rgb(43, 60, 214);
    color: white;
}