.container-register{
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    height: 100%;
}

.card-register{
    height: 470px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: #2baf8e80;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 12px;
}

.card-header{
    font-size: 22px;
    color: white;
}

.field {
    display: flex;
    flex-direction: column;
    margin: 25px;
    color: white;
}

.field-label{
    margin-right: 10px;
}

.form-control {
    font-size: 18px;
    border: none;
    border-radius: 6px;
    width: 70%;
    margin: 10px auto;
}

.btn {
    padding: 10px 25px ;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.card-footer-links{
    color: white;
    padding: 10px 20px;
}
