.card-register{
    width: 400px;
    background-color: #2baf8e80;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 12px;
}

.form-control {
    font-size: 18px;
    border: none;
    border-radius: 6px;
    width: 70%;
    margin: 10px auto;
}

.card-footer-links{
    padding: 10px 20px;
}

.btn-register{
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin: 10px auto;
}

.span-register {
    padding: 3px;
    color: red;
}
