.card-login{
    width: 400px;
    background-color: #2baf8e80;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 12px;
}

.btn-login{
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin: 10px auto;
}



